﻿{% context Web2Sharp.HttpRequest,Web2Sharp %}
<!DOCTYPE html>
<html>

<head>
  <title>Request Information</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <h1>Request <a href="{{Uri}}">{{Uri}}</a></h1>
    
    <hr>
    
    <h2>Request Body</h2>
    {% if String.IsNullOrEmpty(Body) %}
      <p>[Empty Body]</p>
    {% else %}
      <div class="well">
        <pre>{{Body}}</pre>
      </div>
    {% endif %}

    <hr>

    <h2>Server parameters</h2>

    <table class="table table-striped table-hover">
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
      {% for parameter in ServerParameters %}
      <tr>
        <td>{{parameter.Key}}</td>
        <td>{{Encoding.ASCII.GetString(parameter.Value)}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</body>

</html>